h1 {
  color: #60ccdf;
  text-align: center;
  font-size: 90px;
}

body {
  background-color: #0f1117;
}

.logo_big {
  align-items: center;
}

header {
  color: #60ccdf;
  padding: 10px 20px;
  border-style: inset;
  border-color: black;
  border-radius: 100px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #60ccdf;
}

nav ul li a:hover {
  color: #ffffff;
  font-size: large;
}

.reserva {
  background-color: #60ccdf;
  border-color: white;
  border-radius: 30%;
}

.about {
  font-size: 50px;
  text-align: center;
  color: white;
}

.form-group {
  color: white;
}
