h1 {
  color: #60ccdf;
  text-align: center;
  font-size: s0px;
}

body {
  background-color: #0f1117;
  color: #ffffff;
}

header {
  color: #60ccdf;
  padding: 10px 20px;
  text-align: center;
}

header:hover {
  color: #ffffff;
}

.logo_big {
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #60ccdf;
}

nav ul li a:hover {
  color: #ffffff;
  font-size: large;
}

.reserva {
  background-color: #60ccdf;
  border-color: white;
  border-radius: 30%;
}

.about {
  font-size: 50px;
  text-align: center;
  color: white;
}

.form-group {
  color: white;
}

#backGround_EstacionaTech {
  background-repeat: no-repeat;
  background-image: url(./assets/background.png);
}

#whiteFont {
  color: white;
}

.faq-container,
.about-container,
.price-container,
.address-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #1f2128;
  border-radius: 10px;
}

.faq-item h2 {
  color: #60ccdf;
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
}

.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #1f2128; /* Background adicionado */
  border-radius: 10px;
}

.form-container label {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #60ccdf;
  border-radius: 5px;
  background-color: #0f1117;
  color: #ffffff;
}

.form-container button,
.form-container a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 5px;
}

.form-container button:hover,
.form-container a:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #60ccdf;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #60ccdf;
  color: #ffffff;
}

.container {
  margin-top: 50px;
}

.map-container {
  margin-top: 20px;
}

.card-title {
  color: #000000;
}
.card-text {
  color: #000000;
}
.card-body {
  color: #60ccdf;
}
